@model IEnumerable<WebApplication1.Models.Domain.Booking>

@{
    ViewData["Title"] = "AcceptedView";
}

<h1>AcceptedView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PassangerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LonStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LanEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LonEnd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.accepted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            if (item.accepted == true)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookingID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PassangerName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LanStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LonStart)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LanEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LonEnd)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Categories)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.accepted)
                    </td>

                </tr>
            }

        }
    </tbody>
</table>
